@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";

.Inter{
  font-family: "Inter" sans-serif;
}

body {
  background-color: white;
  color: black;
}


.my-dark body {
  background-color: #1a202c; 
  color: #cbd5e1; 
}


.my-dark .bg-white {
  background-color: #2d3748; 
}
.my-dark .text-black {
  color: #cbd5e1;
}
